@charset "UTF-8";
/* CSS Document */

body {
  background-color: #FFFFFF;
  font-family: Trubuchet, Trebuchet MS, Arial, sans-serif;
  font-size: 9pt;
  text-align: left;
  color: #fff;
  background-image: url(/images/code.png);
  background-repeat: repeat;
}
img {
  border: none;
}
p {
  padding: 0;
  margin: 0;
}
a:link, a:visited, a:active {
  font-weight: bold;
  text-decoration: none;
  color: #660000;
}
a:hover {
  text-decoration: underline;
  color: #660000;
  font-weight: bold;
}
#wrapper {
  width: 940px;
  margin: 0 auto 0 auto;
  position: relative;
}
#header {
  width: 940px;
  height: 310px;
  background-image: url(/images/header.png);
}
#description {
  width: 250px;
  text-align: right;
  font-size: 11pt;
  position: absolute;
  top: 50px;
  right: 50px;
}
#description p {
  margin-top: 20px;
}
#description p.quote {
  margin-top: 0;
  font-style: italic;
}
#middle {
  width: 940px;
  background-image: url(/images/middle.png);
  padding: 20px 0px;
} 
#content {
  height: 330px;
  overflow: hidden;
}
#footer {
  width: 895px;
  height: 38px;
  background-image: url(/images/footer.png);
  text-align: right;
  font-size: 9pt;
  padding-right: 45px;
  padding-top: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  background-color: #141414;
  width: 820px;
  padding: 10px;
  margin: 0 auto 20px;
}
li .message .text {
  font-size: 12pt;
}
li .message .author {
  font-size: 9pt;
}
